{% extends "base.html" %}

{% block body %}
<div class="container">
	<div class="up">
		<div class="left">
			<p class="row-l">Item Name: {{data.name}}</p>
		</div>

	</div>

	<div class="down">
			<div class="left">
				<p class="row-l">Rate:</p>
				<p class="row-l">Comment:</p>
			</div>
			<div class="right">
				<form id="make_comment" method="post" action="/comments?id={{data.id}}">
					<div class="rating">
						<input type="radio" name="rating" value="0" checked /><span id="hide"></span>
						<input type="radio" name="rating" value="1" /><span></span>
						<input type="radio" name="rating" value="2" /><span></span>
						<input type="radio" name="rating" value="3" /><span></span>
						<input type="radio" name="rating" value="4" /><span></span>
						<input type="radio" name="rating" value="5" /><span></span>
					</div>

					<textarea name="comment" id="area" placeholder="Share a comment about this item or seller ..." class="form-control" rows="4"></textarea>
			
					<button type="submit" id="addcomment" class="btn btn-default">Submit Comment</button>
				</form>
			</div>
	</div>
</div>
<!-- <script src="js/feedback.js"></script> -->
{% endblock %}