{% extends "base.html" %}

{% block body %}
<div class="container-s">
	<div class="up">
		<div class="row">
			<div class="left-in">
				<img id="pic" src="img/{{data.picture}}" class="img-thumbnail">
			</div>
			<div class="right-in">
				<p class="row-l"><br><br><br><b>Item Name:</b> {{data.name}}</p>
			</div>
		</div>

	</div>

	<div class="down">
			<div class="left">
				<!-- <p class="row-l">Rate:</p>
				<p class="row-l">Comment:</p> -->
			</div>
			<div class="right">
				<form id="make_comment" method="post" action="/comments?id={{data.id}}">
					<p class="row-l"><b>Rate:</b></p>
					<div class="rating">
						<input type="radio" name="rating" value="0" checked /><span id="hide"></span>
						<input type="radio" name="rating" value="1" /><span></span>
						<input type="radio" name="rating" value="2" /><span></span>
						<input type="radio" name="rating" value="3" /><span></span>
						<input type="radio" name="rating" value="4" /><span></span>
						<input type="radio" name="rating" value="5" /><span></span>
					</div>
					<p class="row-l"><b>Comment:</b></p>
					<textarea name="comment" id="area" placeholder="Share a comment about this item or seller ..." class="form-control" rows="4"></textarea>
					<br>
					<button type="submit" id="addcomment" class="btn btn-default">Submit Comment</button>
				</form>
			</div>
	</div>
</div>
<!-- <script src="js/feedback.js"></script> -->
{% endblock %}