<div class="container-s">
	<div class="up">
		<div class="up-in">
			<div class="left-in">
				<p>Item Name:</p>
				<div class="pic-box"></div>
			</div>
			<div class="right-in">
				<div class="mid-c">
					<p>Price:</p>
					<p>Tags:</p>
					<p>Size:</p>
					<p>Description:</p>
				</div>
				<div class="mid-r"></div>
			</div>
		</div>
		<div class="down-in">
			<button id="buythis" type="submit">Buy this</button>
			<button id="chatwith" type="submit">Chat with seller</button>
		</div>
	</div>

	<div class="down">
		<p>Comments about This Seller:</p>
		<div class="comments-box">
			<dl id="commentsforseller"></dl>
		</div>
	</div>
</div>
<script src="js/selling.js"></script>