{% extends "base.html" %}

{% block body %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-pills nav-stacked">
            <li class="active" role="presentation" id="editinfo" name={{session.username}}><a href="#">Edit Pesonal Info</a></li>
            <li role="presentation" id="soldhistory" name="{{session.username}}"><a href="#">Sold History</a></li>
            <li role="presentation" id="purchasehistory" name="{{session.username}}"><a href="#">Purchase History</a></li>
            <li role="presentation" id="rate" name="{{session.username}}"><a href="#">Want to Rate</a></li>
            <li role="presentation" id="wallet" name="{{session.username}}"><a href="#">Wallet</a></li>
            <li role="presentation" id="addgoods"><a href="/addingGoods?username={{session.username}}">Add Goods</a></li>
            <li role="presentation" id="messages" name="{{session.username}}"><a href="#">Message</a></li>
          </ul>
    </div>
    <div class="col-md-7">
        <div id="result">
          <div id="userinfo">
            <p>Username: {{data.username}}</p>
            <p>Email: {{data.email}}</p>
            <p>Phone: {{data.phone}}</p>
          </div>
        </div>
    </div>
    <script src="js/userinfo.js"></script>
{% endblock %}