/*Zhujun CSS*/

/*.Titles--alignLeft:after {
    margin-left: 1rem;
}*/
/*.Titles:after {
    margin-left: 2rem;
}*/
.Titles:after, .Titles:before {
    content: '';
    display: block;
    background: #000;
    height: 1px;
    -ms-flex: 1;
    flex: 1;
}
*, :after, :before {
    box-sizing: border-box;
}


.container-s{
  margin:0 auto;
  width:85%;
  height: 90%;
}
.up-in{
  height: 300px
}
.down-in{
  height: 100px;
}
.ups{
  height: absolute;
}
.downs{
  height: absolute;
}
.left-in{
  width: 39%;
  float: left;
  padding-right: 30px;
}
.right-in{
  align-content: left;
  width: 59%;
  float: right;
  border-width: 2px;
}

.right-in p{
  text-align: left;
  padding-left: 50px;
}
.pic-box #pic{
  float: right;
  border-style: ridge;
  border-width: 2px;
  max-height: 100%;
  max-width: 100%;
}

#hide {
    display:none;
}

.rating input {
    position:absolute;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
    cursor:pointer;
    width:17px;
}

.rating span {
    width:24px;
    height:16px;
    line-height:16px;
    padding:1px 22px 1px 0; 
    /* 1px FireFox fix */
    background:url(http://www.d-k-j.com/Articles/Web_Development/Pure_CSS_5_Star_Rating_System_with_Radios/stars.png) no-repeat -22px 0;
}
*/

/* Change span immediately following the checked radio */

.rating input:checked + span {
    background-position:-22px 0;
}

/* Reset all remaining stars back to default background.
   This supersedes the above due to its ordering. */

.rating input:checked + span ~ span {
    background-position:0 0;
}

.jshover {
    background-position:-22px 0 !important;
}

.jshoverNext {
    background-position:0 0 !important;
}
/*Zhujun CSS*/

body {
  padding-top: 50px;
}

#main-container {
  padding: 40px 15px;
  text-align: center;
}

img {
  max-width: 300px;
  max-height: 200px;
  padding: 10px;
}

#signout {
  margin-left: 20px;
}

#baseSignin {
	margin-top: 1%;
}

#usersCol {
  margin: 10px;
  border: 5px solid black;
  border-radius: 20px;
  padding-bottom: 10px;
  padding-right: 30px;

}

#userFunctions, #goodsFunctions {
  list-style-type: none;
  text-align: left;
  max-width: 80%;

}

#goodsCol {
  margin: 10px;
  border: 5px solid black;
  border-radius: 20px;
  padding-bottom: 10px;
  padding-right: 30px;
  margin-top: 30px;
}

.user_but, .item_but {
  margin: 5px;
}

#rightPanel {
  float: left;
}

#admin_display {
  min-height: 400px;
  margin-top: 30px;
  float: right;
  margin-left: 20px;
  border: 5px solid black;
  border-radius: 20px;
  width: 72%;
}

.form-group {
  text-align: left;
  margin: 20px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#show_users_display, #show_items_display {
  margin: 30px;
}
#users_table th, td {
  text-align: center;
  border-radius: 6px;
}

#users_table tr:nth-child(even) {
  background-color: #87CEFA;
}
#users_table tr:nth-child(odd) {
  background-color: #D0ECF9;
}

#items_table th, td {
  text-align: center;
  border-radius: 6px;
}

#items_table tr:nth-child(even) {
  background-color: #7ECC98;
}

#items_table tr:nth-child(odd) {
  background-color: #D4F5DF;
}